<div class="page-wrapper">
  <div id="control-body" class="fixed-sidebar medium-sidebar">
    <sidebar ></sidebar>
    <main class="page-body">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet ></router-outlet>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="left">&copy; AirLines Reservations</div>
        <div class="right"><a href="javascript:void(0)" id="scroll-top-dash" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Go top"><i class="material-icons">arrow_upward</i></a></div>
      </div>
    </footer>
  </div>
</div>


