<div class="page-wrapper">
  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!--Control page-->
  <div id="control-body">
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!--prepage loader-->
    <div id="prepage-loader" style="display: none;">
      <div class="preloader-center">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-indigo-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End prepage loader-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!--form Page Body-->
    <main>
      <!--start section-->
      <section class="section">
        <!--start row-->
        <div class="row ">
          <!--start column-->
          <div class="col s12">

            <!--Brand logo-->
            <a id="form-logo-container" href="#" class="form-brand-logo">materialcss</a>

            <!--start card-->
            <div id="action-form" class="card">
              <!--card content-->
              <div class="card-content">
                <!--form title-->
                <h1 class="card-title form-title">Welcome back!</h1>
                <!--form-->
                <form>
                  <div class="input-field">
                    <i class="material-icons prefix">mail</i>
                    <input id="email" type="email" class="validate" autocomplete="off" required="">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" class="validate" autocomplete="off" required="">
                    <label for="password">Password</label>
                  </div>
                  <div class="form-ref-box">
                    <div class="left">
                      <input type="checkbox" id="checkbox1" checked="checked" class="filled-in">
                      <label for="checkbox1">Remember me</label>
                    </div>
                    <div class="right">
                      <span class="form-ref-link"><a href="reset.html">Forgot your password?</a></span>
                    </div>
                  </div>
                  <div class="input-field">
                    <button class="btn btn-action-form btn-block waves-effect waves-light theme-bg" type="submit" name="action">Sign in to your account</button>
                  </div>
                </form>
                <!--end form-->
              </div>
              <!--end card content-->
            </div>
            <!--end card-->

            <!--form footer box-->
            <div class="col s12">
              <div class="form-footer-link">
                <a href="signup.html">Don't have an account? <span>Sign up</span></a>
              </div>
            </div>
            <!--end form footer box-->

          </div>
          <!--end column-->
        </div>
        <!--end row-->
      </section>
      <!--end section-->

    </main>
    <!--End form page body-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!--Footer-->
    <footer class="form-footer">
      <div class="row">
        <div class="col s12 center">
          <ul class="footer-list">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="contactus.html">Contact</a></li>
            <li><a href="#">©  materialcss</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--End footer-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  </div>
  <!--End page control-->
  <!-- //////////////////////////////////////////////////////////////////////////// -->

</div>
